<app-slider></app-slider>
<!-- <div class="bootstrap-wrapper"> -->
	<div class="container">
        <div class="row">
            <div class="col-3" *ngFor="let curso of cursos" [routerLink]="['/curso',curso.id_cursos]">
                <mat-card>
                    <img mat-card-image src="{{curso.url_imagen_presentacion}}" alt="{{curso.nombre}}">
                    <mat-card-content>
                        <h2>{{curso.nombre}}</h2>
                        <h3>{{curso.descripcion}}</h3>
                        <h4 class="gris">Publico destinado: {{curso.publico_destinado}}</h4>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="derecha">
                            <h2>${{curso.precio_inscripcion}}</h2>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    
    <!-- <div class="row">
      <h1>Cursos</h1>
    </div>
    <div class="borders">
      <app-cursos></app-cursos>
    </div> -->
		
	</div>

